 <!-- section-banner -->
<section class="section-banner">
  <div class="container">
	<div class="banner_inner">
		<a href="/page/delivery" class="banner__info">
			<div class="banner__info-inner">
				<div class="banner__text">ДОСТАВКА С ПРИМЕРКОЙ</div>
				<div class="banner__title">домой или в пункт выдачи</div>
				<div class="banner__text">ПЛАТИТЕ КОГДА ХОТИТЕ</div>
				<div class="banner__title">при оформлении заказа или после примерки</div>
			</div>
		</a>
		<img src="{{ 'home-banner.webp' | asset_url }}" alt="banner">
	</div>
    <!-- <div class="banner_inner">
      <div class="banner_brend">
        MANGO
        <span>man</span>
      </div>
      <div class="banner_info">
        распродажа <br />
        скидки до 70%
      </div>
    </div> -->
  </div>
</section>
