 <!-- section-banner -->
<section class="section-banner">
  <div class="container">
    <div class="banner_inner">
      <div class="banner_brend">
        MANGO
        <span>man</span>
      </div>
      <div class="banner_info">
        распродажа <br />
        скидки до 70%
      </div>
    </div>
  </div>
</section>