 <!-- section-banner -->
<section class="section-banner">
  <div class="container">
	<div class="banner_inner">
		<div class="banner__info">
			<div class="banner__title">Доставка с примеркой</div>
			<div class="banner__text">это как в магазине, только лучше</div>
		</div>
		<img src="{{ 'big-black-banner.jpg' | asset_url }}" alt="banner">
	</div>
    <!-- <div class="banner_inner">
      <div class="banner_brend">
        MANGO
        <span>man</span>
      </div>
      <div class="banner_info">
        распродажа <br />
        скидки до 70%
      </div>
    </div> -->
  </div>
</section>
