<!-- /section popular-brend -->
<section class="section-popular-brand">
  <div class="container">
    <div class="popular_inner">
      <div class="section_header">
        <div class="section_title">Популярные бренды</div>
        <button class="all_link link all_link_top"><span>Все бренды</span></button>
      </div>
    </div>
    <div class="accordeon">

      <div class="brands">
        {% if page.url contains 'page/zhen' %}	
          {% assign brands = block_lists.with_template['system-banner-3'].brands-women.blocks %}
          {% assign collection = collections.zhenschinam %}
        {% elsif page.url contains 'page/muzh' %} 
          {% assign brands = block_lists.with_template['system-banner-3'].brands-men.blocks %}
          {% assign collection = collections.muzhchinam %}
        {% else %} 
          {% assign brands = block_lists.with_template['system-banner-3'].brands.blocks %}
          {% assign collection = collections.all %}
        {% endif %} 
  
        {% assign brand_property = collection.properties | where: 'handle', 'brand' | first %}
        
        {% for brand in brands %}
          {% assign brand_char = brand_property.characteristics | where: 'handle', brand.link | first %}
  
          <div class="brand_item">
            <a href="{{ collection.url | add_param: 'characteristics[]', brand_char.id }}">
              <img src="{{ brand.image }}" alt="{{ brand.title }}"/>
            </a>
          </div>
        {% endfor %}
        
        
      </div>
    </div>
    <div class="show_toggler">
      <button class="all_link link all_link_bottom"><span>Все бренды</span></button>
    </div>
  </div>
</section>
