<!-- /section popular-brend -->
<section class="section-popular-brand">
  <div class="container">
    <div class="popular_inner">
      <div class="section_header">
        <div class="section_title">Популярные бренды</div>
        <a href="#" class="all_link link">Все бренды</a>
      </div>
    </div>
    <div class="brands">
      {% for brand in block_lists.with_template['system-banner-3'].popular-brands.blocks %}
      <div class="brand_item">
        <a href="{{ brand.link }}"
          ><img src="{{ brand.image }}" alt="{{ brand.title }}"
        /></a>
      </div>
      {% endfor %}
      
    </div>
  </div>
</section>