<style>
  .video__wrap {
    position: relative;
  }

  .video {
    margin-top: -86px;
    width: 100%;
    height: calc(100vh - 117px);
    object-fit: cover;
    background-color: #111;
  } 
  .running_line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    gap: 36px;
    align-items: center;
    background-color: #111;
  }

  .running_line .swiper-wrapper{
    -webkit-transition-timing-function:linear!important;    
    transition-timing-function:linear!important; 
    position: relative;
  }
  .running_line .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    overflow: hidden;
    padding: 0 36px;
  }

  @media (max-width: 1309px) {
    .video {
      height: calc(100dvh - 75px);
      margin-top: -68px;
    }
	}

</style>

<div class="video__wrap">
  <video 
    class="video" 
    preload="none"
    muted
    autoplay
  >
    <source src="https://static.insales-cdn.com/files/1/5283/33502371/original/01.mp4" type="video/mp4">
  </video>
  <div class="running_line swiper">
    <div class="swiper-wrapper">
      {% if page.url contains 'page/zhen' %}	
          {% assign brands = block_lists.with_template['system-banner-3'].brands-runline-women.blocks %}
          {% assign collection = collections.zhenschinam %}
        {% elsif page.url contains 'page/muzh' %} 
          {% assign brands = block_lists.with_template['system-banner-3'].brands-runline-men.blocks %}
          {% assign collection = collections.muzhchinam %}
        {% else %} 
          {% assign brands = block_lists.with_template['system-banner-3'].brands-runline.blocks %}
          {% assign collection = collections.all %}
        {% endif %} 
  
        {% assign brand_property = collection.properties | where: 'handle', 'brand' | first %}
        
        {% for brand in brands %}
          {% assign brand_char = brand_property.characteristics | where: 'handle', brand.link | first %}
  
          <div class="swiper-slide">
            <a href="{{ collection.url | add_param: 'characteristics[]', brand_char.id }}">
              <img src="{{ brand.image }}" alt="{{ brand.title }}"/>
            </a>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
<script>
  let playlist
  const playlistDesc = [
    // 'https://static.insales-cdn.com/files/1/6219/33495115/original/02.mp4',
    'https://static.insales-cdn.com/files/1/6218/33495114/original/01.mp4',
  ]
  const playlistMob = [
    // 'https://static.insales-cdn.com/files/1/5283/33502371/original/02mob.mp4',
    'https://static.insales-cdn.com/files/1/5282/33502370/original/01mob.mp4',
  ]

  if (window.innerWidth <= 550) {
    playlist = playlistMob
  } else {
    playlist = playlistDesc
  }

  const player = document.querySelector('.video');
  const source = player.querySelector('source')
  let playingIndex = 0

//   source.setAttribute('src', playlist[playingIndex])
//   player.addEventListener('ended', playNextInPlaylist)

//   function playNextInPlaylist() {
//     if (playingIndex == playlist.length - 1) {
//       playingIndex = -1
//     }
    
//     playingIndex++
//     source.setAttribute('src', playlist[playingIndex])
//     player.load()
//   }
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    new Swiper(".running_line", {
      spaceBetween: 0,
      centeredSlides: true,
      speed: 3000,
      autoplay: {
        delay: 0,
        disableOnInteraction: false,
      },
      loop: true,
      loopedSlides: 4,
      slidesPerView:'auto',
      allowTouchMove: true,
    });
  })
</script>

