$primary: #111;
$secondary_dark: #4d4d4d;
$secondary: #939393;
$secondary_light: #d9d9d9;
$danger: #d61818;
$white: #fff;

$background-color_1: #ff9;
$background-color_2: transparent;
$background-color_4: #767676;
$background-color_6: #f7f7f7;
$border-color_3: transparent;
$border-color_4: #666666;

$primary_text: Lato;
