@import "variables";
@import "utility";
@import "components";

@import "partials/footer";
@import "partials/header";

[x-cloak] {
	display: none !important;
}

body {
	min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1 0 auto;
}
.ds {
	display: block;
}
.mb {
	display: none;
}
body.ovhidden {
	overflow: hidden;
}
body.shadow {
	position: relative;
	overflow: hidden;
	max-height: 100%;
	.wrapper {
		height: 100%;
		overflow: hidden;
	}
	.wrapper.show {
		display: block;
	}
	&::after {
		content: "";
		background: #000;
		opacity: 0.155555;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
p {
	line-height: 150%;
	color: $primary;
}
p+p {
	margin-top: .3125rem;
}
.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	padding: 0 1.5rem;
}
@media (min-width: 300px) {
	.container {
		max-width: 100%;
		padding: 0 .875rem;
	}
}
@media (min-width: 576px) {
	.container {
		max-width: 100%;
		padding: 0 .875rem;
	}
}
@media (min-width: 768px) {
	.container {
		padding: 0 1.5rem;
		max-width: 100%;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 100%;
		padding: 0 1.5rem;
	}
}
@media (min-width: 1200px) {
	.container {
		padding: 0 1.5rem;
		max-width: 100%;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1400px;
	}
}
@media (min-width: 1560px) {
	.container {
		max-width: 1400px;
	}
}
// Виджет мессенджеров
.jeDexv {
	bottom: 3.75rem !important;

	@media (max-width: 999px) {
		bottom: 115px !important;
		z-index: 49 !important;
	}
}
.cover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100dvh;
	display: none;
	background-color: $primary;
	opacity: 0.5;
	z-index: 40;

	&.active {
		display: block;
	}
}
.info_tab_list {
	display: flex;
	flex-direction: column;
	gap: 29px;

	.list_item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-size: 16px;

		.item_label {
			color: $secondary_dark;
		}
	}
}
.price-input {
	position: relative;
	display: flex;
	column-gap: .8125rem;
	width: 100%;
	margin: 1.875rem 0 2.1875rem;

	.field {
		position: relative;
		display: flex;
		width: 100%;
		height: 2.8125rem;
		align-items: center;

		&::before {
			position: absolute;
			left: .75rem;
			// top: 50%;
			// transform: translateY(-50%);
			color: $secondary;
			font-size: .875rem;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
		}

		// &:first-child::before {
		// 	// content: 'от';
		// }
		// &:last-child::before {
		// 	// content: 'до';
		// }
	}
	.separator {
		display: flex;
		font-size: 1.1875rem;
		align-items: center;
		justify-content: center;
		color: $secondary;
	}
}
.field {
	input {
		width: 100%;
		height: 100%;
		outline: none;
		font-size: 1.1875rem;
		border-radius: .3125rem;
		text-align: center;
		border: .0625rem solid #939393;
		background: #fff;
		border-radius: 0rem;
		padding: 1.4375rem .8125rem;
		color: $primary;
		font-size: .875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
	}
}
.slider-range {
	position: relative;
	height: .3125rem;
	margin-top: .1875rem;
	background: #ddd;
	border-radius: .3125rem;
	top: .375rem;
	.progress {
		height: 100%;
		left: 25%;
		right: 25%;
		position: absolute;
		border-radius: .3125rem;
		background: $primary;
	}
}
.range-input {
	position: relative;
	input {
		position: absolute;
		width: 100%;
		height: .4375rem;
		top: 0;
		background: none;
		pointer-events: none;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}
input[type="range"] {
	&::-webkit-slider-thumb {
		height: 1.0625rem;
		width: 1.0625rem;
		border-radius: 50%;
		background: #fff;
		pointer-events: auto;
		-webkit-appearance: none;
		box-shadow: 0 0 .375rem rgba(0, 0, 0, 0.05);
		border: .0625rem solid $primary;
		cursor: grab;

		&:focus, &:active {
			cursor: grabbing;
		}
	}
	&::-moz-range-thumb {
		height: 1.0625rem;
		width: 1.0625rem;
		border: none;
		border-radius: 50%;
		background: #fff;
		pointer-events: auto;
		-moz-appearance: none;
		box-shadow: 0 0 .375rem rgba(0, 0, 0, 0.05);
		border: .0625rem solid $primary;
		cursor: grab;

		&:focus, &:active {
			cursor: grabbing;
		}
	}
}
textarea:active, 
textarea:focus-visible
{
	outline: none;
}
.characteristics-notice {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: $secondary_dark;
	margin-bottom: .75rem;

	@media screen and (max-width: 35.4375rem) {
		font-size: .875rem;
	}
}
.main-choice {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 7.3125rem - 16.875rem);
	background-color: #000;
	padding: 2.25rem 0;

	@media (max-width: 62.4375rem) {
		min-height: calc(100vh - 5.0625rem - 23.75rem);
	}

	&__title {
		margin-bottom: 1.5rem;
		color: $white;
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%;
		text-align: center;

		@media (max-width: 35.4375rem) {
			font-size: 1.625rem;
		}
	}

	&__choices {
		display: flex;
		gap: .125rem;

		@media (max-width: 35.4375rem) {
			flex-direction: column;
		}

		.choice {
			position: relative;

			@media (max-width: 35.4375rem) {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 2rem;
			}
		}

		.choice__link {
			.choice__image {
				max-width: 100%;
  				height: auto;
				vertical-align:bottom;

				@media (max-width: 35.4375rem) {
					max-width: 100%;
					width: auto;
  					height: calc((100lvh - 4.8125rem - 5rem) / 2 - 3.125rem);
				}
			}
			.choice__title {
				padding: .75rem 0;
				text-align: center;
				color: $white;
				font-size: 1.5rem;
				text-transform: uppercase;

				@media (max-width: 35.4375rem) {
					font-size: 1rem;
				}
			}
		}
	}
}

.filter_block {
	position: fixed;
	top: 0;
	left: 0;
	width: 31.25rem;
	height: 105vh;
	z-index: 50;
	background-color: $white;
	transition: 0.3s all ease;
	overflow: scroll;
	transform: translateX(-100%);
	.flex_wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
		padding-bottom: 1rem;
	}
}
.filter_block.active {
	transform: translateX(0);
}
.flex_wrapper {
	.item {
		flex: 0 0 calc(50% - .625rem);
		display: flex;
		align-items: center;
		gap: .75rem;
		color: $secondary;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		a {
			color: $secondary;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
		}
	}
	.ordinary_input {
		margin-bottom: 1.5rem;
	}
}
.searching_material {
	display: flex;
	align-items: stretch;
	margin-bottom: 1.5rem;
	.button_black {
		height: auto;
	}
	.ordinary_input {
		max-width: 26.75rem;
		width: 100%;
	}
}
.accordion_content {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: 0.4s grid-template-rows ease;

	&.active {
		grid-template-rows: 1fr;
	}

	.accordion_content__wrap {
		overflow: hidden;
	}
}
.accordion_link.active {
	img {
		rotate: 180deg;
	}
}
.accordion_link {
	padding: 1.375rem 0 0;
	color: $primary;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	display: flex;
	justify-content: space-between;
	width: 100%;
	img {
		transition: 0.4s all ease;
	}
}
.accordion_link_hide {
	padding: 1.375rem 0 0;
	color: $primary;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	justify-content: flex-start;
	gap: .3125rem;
	img {
		rotate: 180deg;
	}
	span {
		border-bottom: .0625rem solid $primary;
	}
}
.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2.0625rem;
	margin-bottom: .75rem;

	.pagination_list {
		display: flex;
		gap: 1.5rem;
		.list_link {
			color: $secondary;
			border-bottom: .0625rem solid transparent;
			font-size: 1.1875rem;
			font-style: normal;
			font-weight: 600;
			line-height: 100%;
			padding-bottom: .125rem;
		}
		span.active {
			color: $primary;
			border-bottom: .0625rem solid $primary;
			font-size: 1.1875rem;
			font-style: normal;
			font-weight: 600;
			line-height: 100%;
			padding-bottom: .125rem;
		}
	}
	.pagination__buttons {
		display: flex;
		gap: .875rem;
		justify-content: space-between;
		align-items: center;
	}

	@media (max-width: 62.4375rem) {
		.pagination_list {
			.list_link {
				font-size: 14px;
			}

			span.active {
				font-size: 14px;
			}
		}
	}

	@media (max-width: 35.4375rem) {
		flex-direction: column;
		row-gap: .875rem;
		align-items: flex-start;
	}
}
.tab_header {
	display: flex;

	.tab_header_item {
		color: $secondary;
		font-size: 1.1875rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%;
		padding-bottom: .5rem;
		border-bottom: .0625rem solid #939393;
		flex: 1 1 auto;
		text-align: center;
		transition: all .3s ease;

		&:hover {
			color: $primary;
		}

		&.active {
			border-bottom: .125rem solid $primary;
			color: $primary;
		}
	}
}
.tab_body {
	.tab_body_item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: 0.4s all ease;
	}
	.tab_body_item.active {
		opacity: 1;
		visibility: visible;
		position: relative;
	}
}
.ordinary_input {
	width: 100%;
	border: .125rem solid rgba(17, 17, 17, 0.2);
	background: #fff;
	padding: 1.125rem;
	color: $primary;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
}
.swiper-wrapper {
	height: auto;
}
.button_black {
	color: $white;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	padding: 1.125rem 2.25rem;
	background: $primary;
}
.breadcrumb {
	display: flex;
	align-items: center;
	column-gap: 2.0625rem;
	row-gap: 1.125rem;
	flex-wrap: wrap;
	margin-bottom: 4rem;

	@media (max-width: 35.4375rem) {
		column-gap: .9375rem;
		row-gap: .9375rem;
		margin-bottom: 2.5rem;
	}

	.breadcrumb_link {
		position: relative;
		color: $secondary_dark;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		text-decoration-line: underline;
		text-decoration-skip-ink: none;
		text-decoration-thickness: .0625rem;
		white-space: nowrap;

		&.current {
			text-decoration: none;
		}
		&:not(.current) {
			&::after {
				content: "/";
				position: absolute;
				right: -1.375rem;
				top: 0;
				width: .5625rem;
				height: 1.125rem;
				color: $primary;
			}
		}

		@media (max-width: 35.4375rem) {
			font-size: .875rem;
			
			&:not(.current) {
				&::after {
					right: -0.875rem;
					top: .125rem;
				}
			}
		}
	}
}
.swiper-button-prev {
	&::after {
		content: none;
	}
}
.swiper-button-next {
	&::after {
		content: none;
	}
}
.section_title {
	color: $primary;
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
}
.section_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 24px;

	.swiper-button-next {
		left: var(--swiper-navigation-sides-offset, -1.875rem);
		right: auto;
	}
	.swiper-button-prev {
		right: var(--swiper-navigation-sides-offset, 3.125rem);
		left: auto;
	}
}
.product_slide_card {
	// display: flex;
	// flex-direction: column;
	// max-width: 19.375rem;

	.product_card_img {
		position: relative;
		margin-bottom: 1.5rem;
		aspect-ratio: 2 / 3;

		.card_img__link {
			width: 100%;
			height: 100%;
			
			.card_img__image {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.labels {
			display: flex;
			position: absolute;
			bottom: .9375rem;
			padding-left: .875rem;
			gap: 1rem;
			color: $white;
			transition: 0.4s all ease;
			font-size: .875rem;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
		}
		.labe_discount {
			background: $danger;
			padding: .4375rem .875rem;
		}
		.labe_premium {
			background: $primary;
			padding: .4375rem .875rem;
		}
	}
	.product_card_name {
		color: $primary;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		text-transform: uppercase;
		margin-bottom: 1.25rem;
	}
	.product_card_prices {
		display: flex;
		align-items: center;
		gap: .5rem;
		margin-bottom: 1.3125rem;
		margin-top: auto;
		
		.product_card_price {
			color: $primary;
			font-size: 1.25rem;
			font-style: normal;
			font-weight: 500;
			line-height: 100%;
		}
		.product_card_old_price {
			color: $secondary;
			font-size: .875rem;
			font-style: normal;
			font-weight: 300;
			line-height: 100%;
			text-decoration-thickness: .0625rem;
			text-decoration-line: line-through;
			position: relative;
		}
	}
	.product_card_actions {
		display: flex;
		align-items: flex-end;
		gap: .875rem;
		a {
			border-bottom: .0625rem solid $primary;
			padding: .5rem;
			color: $primary;
			text-align: center;
			font-size: 1.25rem;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
		}
		.link_more {
			padding: .5rem 3.125rem;
			flex: 1 1 auto;
		}
	}
	
}

.link {
	color: $primary;
	text-align: center;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	border-bottom: .0625rem solid $primary;
	padding-bottom: .1875rem;
}
.main {
	padding: 1.5rem 0;

	&.main-index {
		padding: 0;
	}

	>section {
		&:not(:last-of-type) {
			margin-bottom: 5.375rem;
		}
	}
	.section-news {
		.news_inner {
			display: flex;
			align-items: stretch;
			gap: 1.5rem;
			.cloth_item {
				position: relative;
				display: flex;
				align-items: flex-start;
				padding-top: 6.25rem;
			}
			.c_side {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
			}
			.l_side {
				flex: 0 0 calc(24% - .75rem);
				.news_img {
					position: relative;
					top: 2.5rem;
				}
			}
			.r_side {
				flex: 0 0 calc(24% - .75rem);
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
			}
		}
	}
	.section-news.news-2 {
		.news_inner {
			.l_side {
				flex: 0 0 calc(33% - .75rem);
			}
		}
		.cloth_item {
			&:first-of-type {
				padding-top: 0;
				gap: .75rem;
			}
			.aksesuari_item {
				flex: 0 0 calc(50% - .75rem);
			}
		}
	}
}
.cloth_item {
	.img {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
.section-categories-carousel {
	margin-top: 5.875rem;

	.accordeon {
		overflow: hidden;
		transition: height 0.5s ease-in-out;
	}
	.section-categories-carousel__inner {
		display: flex;
		justify-content: center;
		gap: .875rem;
		flex-wrap: wrap;
	}
	.categories-slide {
		flex: 0 0 calc(100% / 5 - .875rem);
		height: auto;
		min-width: 0;
		overflow: hidden;
	}
	.categories_slide_label {
		color: $primary;
		text-align: center;
		padding: .75rem 0;
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: 110%;
	}
	.categories_slide_inner {
		text-align: center;
		.categories_slide_img {
			max-width: 100%;
			background: $bg-light;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;

			img {
				max-height: 100%;
				object-fit: cover;
				width: 100%;
				height: 100%;
				aspect-ratio: 4/3;
				transition: transform .3s ease;
			}

		}

		&:hover img {
			transform: scale(1.1);
		}
	}
	.link_more {
		color: $primary;
		text-align: center;
		border-bottom: .0625rem solid $primary;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		padding: .5rem;
		width: 100%;
		margin-top: .75rem;

		span {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				right: -1.875rem;
				top: .125rem;
				width: .9375rem;
				height: .9375rem;
				background-image: url(ICO-arrow-down.svg);
			}
		}

		&.active {
			span {
				&::after {
					rotate: 180deg;
				}
			}
		}
	}
}
.section-banner {
	margin-top: 1.25rem;

	.banner_inner {
		position: relative;
		
		.banner__info {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			.banner__info-inner {
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				row-gap: .9375rem;
				width: 100%;
				height: 100%;
				background-color: #00000066;
			}
		}
		
		.banner__title {
			color: $white;
			text-transform: uppercase;
			text-align: center;
			font-weight: 400;
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
		}

		.banner__text {
			color: $white;
			text-transform: uppercase;
			text-align: center;
			font-weight: 700;
			font-size: 2rem;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}
}
.section-popular-brand {
	.accordeon {
		transition: height .3s ease;
		overflow: hidden;
	}
	.brands {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.brand_item {
			width: 25%;
			flex: 0 0 25%;
			border: .0625rem solid #f3f3f3;
			aspect-ratio: 12 / 5;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;
			}
			img {
				width: auto;
				height: 70%;
				object-fit: contain;
				max-width: 100%;
			}
		}
	}

	.all_link_bottom {
		display: none;
		border-bottom: .0625rem solid #111;
		color: #111;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		margin-top: .75rem;
		padding: .5rem;
		text-align: center;
		width: 100%;
	}

	@media(max-width: 62.4375rem) {
		.brands {
			.brand_item {
				flex: 0 0 50%;
				width: 50%;
			}
		}
	}

	@media(max-width: 35.4375rem) {
		.all_link_top {
			display: none;
		}

		.all_link_bottom {
			display: block;
		}
	}
}
.section-news.news-2 {
	.aksesuari_item {
		.img {
			position: relative;
			text-align: center;
		}
	}
}
.section-relevant-carousel {
	.relevant_slide_inner {
		border-bottom: .0625rem solid #d1d1d1;
		padding-bottom: 1.5rem;
		.img {
			margin-bottom: 1.5rem;
			img {
				width: 100%;
			}
		}
		.relevant_name {
			color: $primary;
			margin-bottom: .5rem;
			font-size: 1.75rem;
			font-style: normal;
			font-weight: 600;
			line-height: 110%;
		}
		.relevant_subtitle {
			color: $secondary;
			font-size: 1.125rem;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
		}
	}
}
.section-banner-app {
	.container {
		position: relative;
	}
	.bg-img {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.app_inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 6.6875rem 0;
		&::after {
			content: "";
			position: absolute;
			left: calc(50% - 21.375rem);
			top: calc(50% - 8.5625rem);
			width: 42.75rem;
			height: 17.125rem;
			border: .1875rem solid $white;
			background-color: $primary;
			opacity: 0.5;
		}
	}
	.apps_block {
		background: $white;
		padding: 3rem 4.6875rem;
		.block_title {
			color: $secondary-light;
			text-align: center;
			font-size: 2.25rem;
			font-style: normal;
			font-weight: 700;
			line-height: 100%;
			letter-spacing: .3375rem;
			text-transform: uppercase;
			margin-bottom: 3.3125rem;
			position: relative;
			z-index: 1;
			&::after {
				content: "";
				position: absolute;
				left: calc(50% - 8.7813rem);
				bottom: -0.875rem;
				height: .125rem;
				background-color: $secondary-light;
				width: 17.5625rem;
			}
		}
		.apps {
			position: relative;
			display: flex;
			gap: 1.5rem;
			justify-content: center;
			z-index: 1;
		}
	}
}


.mb_header_buttons {
	display: none;
}
.img.shoes_desktop {
	position: absolute;
	top: -3.125rem;
	right: -2.5rem;
}
.shoes_text_desktop {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.section-not-found {
	.not_inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.not_number {
		color: $primary;
		font-size: 12.8504rem;
		font-style: normal;
		font-weight: 300;
		line-height: 100%;
		margin-bottom: 2.9375rem;
	}
	.not_title {
		color: $primary;
		text-align: center;
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		margin-bottom: 1.5rem;
	}
	.not_subitle {
		margin-bottom: 3rem;
		color: $secondary;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		text-align: center;
	}
	.not_link {
		color: $primary;
		text-align: center;
		border-bottom: .0625rem solid #000;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		padding: .5rem 3.125rem;
	}
}
.main.catalog {
	padding-top: 1.5rem;
	.section-banner {
		margin: 4rem 0;
	}
}
.main.product-view {
	padding-top: 1.5rem;
}

.product_save_btn {
	position: absolute;
	top: 1rem;
	right: 1rem;

	&.favorites-added {
		.icon_delete {
			display: inline-block;
		}

		.icon_add {
			display: none;
		}
	}

	.icon_delete {
		display: none;
	}

	svg {
		path {
			transition: 0.4s all ease;
		}
		&:hover {
			path {
				fill: $danger;
			}
		}
	}
}
.product_cart_select {
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.mobile_yes {
	display: none;
}
.cloth_item.mobile_yes {
	display: none;
}
.answer_title {
	margin-bottom: 1rem;
}
.reviews-wrap {
	max-height: 28.125rem;
	overflow-y: auto;
}
.comment_item {
	.accordion_content {
		margin-bottom: .5rem;
	}
	border-bottom: .0625rem solid #939393;
	background: #fff;
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	.comment_name {
		color: $primary;
		font-size: 1.1875rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1.625rem;
		text-transform: capitalize;
		margin-bottom: 1rem;
		display: flex;
		justify-content: space-between;

		span:nth-child(2) {
			font-size: .75rem;
		}
	}
	.rating-stars {
		position: relative;
		width: 7.5rem;
		display: flex;
		overflow: hidden;
		margin-bottom: .625rem;

		img {
			position: relative;
			z-index: 2;
			max-width: 7.5rem;
			height: auto;
		}

		.background {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			background-color: #ffbe40;
		}
	}
	.comment_text {
		color: $secondary;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		margin-bottom: 1rem;
	}
	.comment_info {
		color: $primary;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.comment_reply {
		.reply_admin {
			margin-bottom: .625rem;
			color: $secondary;
		}

		.reply_text {
			color: $secondary_dark
		}
	}
}
.review_header {
	display: flex;
	gap: 1.5rem;
	margin-bottom: 2rem;

	.review_rating {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.125rem;
		width: 100%;
		padding: 2rem 1.75rem;
		background: $primary;
		color: $white;
		text-align: center;
		font-size: 3rem;
		font-style: normal;
		font-weight: 700;
		line-height: 100%;

		.rating-stars {
			position: relative;
			width: 40%;
			display: flex;
			overflow: hidden;

			img {
				position: relative;
				z-index: 2;
				width: 100%;
				height: auto;
			}

			.background {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				background-color: #ffbe40;
			}
		}
	}
	.rating_text {
		color: $secondary;
		text-align: center;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
	}
	.review_header_slider_wr {
		width: 73%;
		* {
			height: 100%;
		}
		.swiper-button-next {
			height: auto;
			right: var(--swiper-navigation-sides-offset, -0.625rem);
		}
		.swiper-button-prev {
			height: auto;
			left: var(--swiper-navigation-sides-offset, -0.625rem);
		}
	}
}
.moree_review {
	img {
		width: 6.125rem;
		object-fit: cover;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		transition: 0.4s all ease;
		opacity: 0;
		background: $primary;
	}
	span {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		font-size: .875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: 0.4s all ease;
		opacity: 0;
		z-index: 3;
	}
	&:hover {
		&::after {
			opacity: 0.75;
		}
		span {
			opacity: 1;
		}
	}
}
.loading-cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	opacity: 1;
	transition: opacity 0.4s ease;
	z-index: 20;
}
.comment_item_img {
	display: flex;
	overflow-x: scroll;
	gap: 1.5rem;
	margin-top: 1.5rem;
	.moree_review {
		flex: 0 0 calc(25% - .75rem);
		img {
			width: 100%;
			height: 100%;
		}
	}
}
.tab_body_item.em {
	.empty {
		display: block;
	}
	.not_empty {
		display: none;
	}
}
.tab_body_item.nem {
	.not_empty {
		display: block;
	}
	.empty {
		display: none;
	}
}
.accordion_item {
	border-bottom: .0625rem solid $secondary;
	
	.accordion_link {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 1.375rem 0;
		color: #111;
		font-size: 19px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;

		img {
			transition: all 0.3s ease;
		}
	}

	&.active {
		border-bottom: none;
		padding-bottom: .3125rem;

		.accordion_link img {
			transform: rotate(180deg);
		}

		.accordion_content {
			grid-template-rows: 1fr;
		}

		.accordion_footer {
			grid-template-rows: 1fr;
		}
	}

	.accordion_content {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows .3s ease;
		overflow: hidden;

		.accordion_content__wrap {
			overflow: hidden;
		}
	}

	.accordion_footer {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows .3s ease;
		overflow: hidden;

		.accordion_footer__wrap {
			overflow: hidden;
		}
	}

}
// .section-product-view {
// 	.same_links {
// 		display: flex;
// 		gap: 1.75rem;
// 		margin-top: 4.0625rem;
// 	}
// 	.same_link {
// 		display: flex;
// 		align-items: center;
// 		gap: .625rem;
// 		border-bottom: .0625rem solid $primary;
// 		background: $bg-light;
// 		padding: .25rem 0 .25rem .25rem;
// 		width: 100%;

// 		.same_link_img {
// 			aspect-ratio: 3 / 2;
//   			max-height: 4.6875rem;
// 			width: 30%;
// 			flex: 0 0 30%;

// 			img {
// 				width: 100%;
// 				height: 100%;
// 				object-fit: contain;
// 			}
// 		}
// 	}
// 	.same_link_name {
// 		margin-bottom: .75rem;
// 		color: $primary;
// 		font-size: 1.1875rem;
// 		font-style: normal;
// 		font-weight: 400;
// 		line-height: 100%;
// 	}
// 	.description {
// 		margin-bottom: 1rem;
// 		color: $primary;
// 		font-size: 1rem;
// 		font-style: normal;
// 		font-weight: 400;
// 		line-height: 145%;
// 	}
// 	.product_inner {
// 		.carousel {
// 			display: flex;
// 			gap: 1.5rem;
// 			width: 46.625rem;
// 			flex-shrink: 0;
// 		}
// 		.product_view_swiper {
// 			max-width: 39.75rem;
// 			.swiper-slide {
// 				>img {
// 					width: 100%;
// 					height: auto;
// 				}
// 			}
// 		}
// 		.product_info {
// 			display: flex;
// 			margin-bottom: 3rem;
// 			display: flex;
// 			gap: 1.5rem;
// 		}
// 		.product_name {
// 			color: $primary;
// 			font-size: 2.25rem;
// 			font-style: normal;
// 			font-weight: 600;
// 			line-height: 100%;
// 			margin-bottom: 1.5rem;
// 		}
// 		.product_price {
// 			color: $primary;
// 			display: flex;
// 			font-size: 1.4375rem;
// 			font-style: normal;
// 			font-weight: 600;
// 			line-height: 100%;
// 			gap: .75rem;
// 			align-items: center;
// 			margin-bottom: 2.25rem;
// 		}
// 		.product_old_price {
// 			color: $secondary;
// 			font-size: 1.1875rem;
// 			font-style: normal;
// 			font-weight: 400;
// 			line-height: 100%;
// 			text-decoration: line-through;
// 		}
// 		.product-variants {
// 			.is-select {
// 				position: relative;
// 				display: flex;
// 				flex-direction: column;

// 				.option-label {
// 					position: relative;
// 					font-size: 1rem;
// 					font-style: normal;
// 					font-weight: 400;
// 					line-height: 100%;
// 					margin-bottom: .3125rem;

// 					&::after {
// 						content: "";
// 						position: absolute;
// 						background-image: url('ICO-arrow-down.svg');
// 						height: .875rem;
// 						right: .875rem;
// 						top: calc(1rem + .3125rem + 1.875rem);
// 						transform: translateY(-50%);
// 						transition: all .4s ease;
// 						width: .875rem;
// 						z-index: 10;
// 					}
// 				}

// 				.option-values {
// 					position: relative;
// 					border-bottom: .0625rem solid $primary;
// 					height: auto;
//   					width: 100%;
// 					background: $bg-light;
// 					border-radius: 0;
// 					color: $primary;
// 					float: none !important;
// 					font-size: 1rem;
// 					font-style: normal;
// 					font-weight: 400;
// 					line-height: 100%;
// 					margin-bottom: 1.5rem;
// 					padding: 1.375rem;
// 					text-transform: uppercase;
// 					appearance: none;
// 				}
// 			}
// 		}
// 	}
// 	.product_accordion {
// 		display: none;

// 		@media (max-width: 35.4375rem) {
// 			display: block;
// 		}

		
// 	}
// 	.swiper-pagination-bullet {
// 		background: #fff;
// 		width: 3.5rem;
// 		height: .1875rem;
// 		opacity: 1;
// 		border-radius: 0rem;
// 	}
// 	.swiper-pagination-bullet-active {
// 		background-color: $primary;
// 	}
// 	.product_info_char {
// 		position: relative;
// 		flex-basis: 100%;

// 		.original-label_wrap {
// 			margin-bottom: 2rem;
			
// 			.original-label {
// 				padding: .75rem 1.125rem;
// 				width: min-content;
// 				color: $white;
// 				background: $primary;
// 				font-size: 1rem;
// 				white-space: nowrap;
// 			}
// 		}

// 		.product_quantity {
// 			margin-bottom: 1.5rem;

// 			.product_quantity__title {
// 				margin-bottom: .3125rem;
// 				font-weight: 700;
// 			}

// 			.product_quantity__body {
// 				display: flex;
// 				flex-direction: column;
// 				row-gap: .3125rem;

// 			}
// 		}

// 		button {
// 			width: 100%;
// 			text-align: center;
// 			margin-bottom: 2.25rem;
// 			font-size: 1.25rem;
// 		}
// 	}
// 	.button_black {
// 		width: 100%;
// 		margin-bottom: 1.5rem;
// 	}
// 	.save_btn {
// 		display: flex;
// 		justify-content: center;
// 		gap: .75rem;
// 		align-items: center;
// 		width: 100%;
// 		border-bottom: .0625rem solid $primary;
// 		color: $primary;
// 		text-align: center;
// 		font-size: 1.25rem;
// 		font-style: normal;
// 		font-weight: 700;
// 		line-height: 100%;
// 		padding: 1.25rem;

// 		&.favorites-added {
// 			.icon_delete {
// 				display: inline-block;
// 			}

// 			.icon_add {
// 				display: none;
// 			}
// 		}

// 		.icon_delete {
// 			display: none;
// 		}
// 	}
// 	.deleviry_info {
// 		background: $bg-light;
// 		padding: .875rem 2.625rem .875rem 1.5rem;
// 		.info_item {
// 			display: flex;
// 			gap: .875rem;
// 			color: $primary;
// 			font-size: .875rem;
// 			font-style: normal;
// 			font-weight: 400;
// 			line-height: 145%;
// 			span {
// 				border-bottom: .0625rem solid $primary;
// 			}
// 			&:first-child {
// 				padding-bottom: .875rem;
// 				margin-bottom: .875rem;
// 				border-bottom: .125rem solid #d9d9d9;
// 			}
// 		}
// 	}
// 	.product_tab {
// 		max-width: 46.625rem;
// 	}
// 	.tab_body {
// 		margin-top: 1.125rem;
// 		.list_item {
// 			display: flex;
// 			align-items: center;
// 			border-bottom: .125rem solid #d1d1d1;
// 			padding: .875rem 0;
// 			justify-content: space-between;
// 			.item_label {
// 				color: $secondary;
// 				font-size: 1.1875rem;
// 				font-style: normal;
// 				font-weight: 400;
// 				line-height: 100%;
// 			}
// 			.item_info {
// 				color: $primary;
// 				text-align: right;
// 				font-size: 1.1875rem;
// 				font-style: normal;
// 				font-weight: 400;
// 				line-height: 100%;
// 			}
// 		}
// 	}
// 	.tab_item_innner {
// 		background: $bg-light;
// 		padding: 2rem 0;
// 		text-align: center;
// 		.tab_item_title {
// 			color: $primary;
// 			text-align: center;
// 			font-size: 2.25rem;
// 			font-style: normal;
// 			font-weight: 500;
// 			line-height: 100%;
// 			margin-bottom: 1.125rem;
// 		}
// 		.subtitle {
// 			color: $secondary;
// 			font-size: 1.125rem;
// 			font-style: normal;
// 			font-weight: 400;
// 			line-height: 100%;
// 			margin-bottom: 2.25rem;
// 		}
// 		.btn {
// 			color: $primary;
// 			text-align: center;
// 			font-size: 1.25rem;
// 			font-style: normal;
// 			font-weight: 400;
// 			line-height: 100%;
// 			padding: .5rem;
// 			border-bottom: .0625rem solid $primary;
// 			max-width: 16rem;
// 			width: 100%;
// 		}
// 	}
// }
.same_link_subname {
	color: $secondary;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
}
.product_inner {
	.product_view_swiper_th {
		margin: 0;
		max-width: 5.375rem;
		width: 100%;
		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 8.125rem !important;
			opacity: 0.7;
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				width: 100%;
				background-color: $background-color_2;
				height: .125rem;
				left: 0;
			}
		}
		.swiper-slide.swiper-slide-thumb-active {
			opacity: 1;
			&::after {
				background-color: $primary;
			}
		}
	}
	.rating {
		color: $primary;
		font-size: 1.4375rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		position: absolute;
		top: 1.5rem;
		left: 1.5rem;
		display: flex;
		z-index: 2;
		background: #fff;
		padding: .5rem .875rem;
		align-items: center;
		gap: .5rem;
		span {
			color: $secondary;
			font-size: 1.4375rem;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
		}
	}
}
.select_ordinary {
	border: .0625rem solid $secondary_dark;
	border-radius: 0rem;
	background: $bg-light;
	padding: 1.375rem;
	color: $primary;
	float: none !important;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
	width: 100%;
}
.nice-select {
	width: 100%;
	height: auto;
	
	&:after {
		content: none;
	}
	&::before {
		content: "";
		width: .875rem;
		height: .875rem;
		background-image: url("ICO-arrow-down.svg");
		position: absolute;
		right: .875rem;
		top: calc(50% - .4375rem);
		transition: 0.4s all ease;
	}
	.nice-select-dropdown {
		width: 100%;
	}
	.list {
		width: 100%;
	}
	&:hover {
		border-color: $primary;
	}
	&:active {
		border-color: $primary;
	}
	&:focus {
		border-color: $primary;
	}
	.current {
		display: block;
		width: calc(100% - 1.875rem);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.nice-select.open {
	&::before {
		rotate: 180deg;
	}
	border-color: $primary;
}
.checkbox_wrapper {
	display: block;
	position: relative;
	padding-left: 1.25rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 1.25rem;
	span {
		transition: 0.4s all ease;
		border-bottom: .0625rem solid $primary;
	}
	&:hover {
		span {
			color: $primary;
			border-bottom: .0625rem solid $primary;
		}
		.checkmark {
			border-color: $border-color_3;
		}
	}
	.checkmark {
		border-color: $border-color_4;
		&:after {
			width: .3125rem;
			height: .625rem;
		}
	}
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			~ {
				.checkmark {
					background-color: $background-color_2;
					border-color: $white;
					&:after {
						display: block;
					}
				}
			}
		}
	}
}
.checkmark {
	position: absolute;
	top: .125rem;
	left: 0;
	height: .875rem;
	width: .875rem;
	background-color: $white;
	border: .0625rem solid rgb(102, 102, 102);
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}
.checkbox_wrapper.white {
	.checkmark {
		height: 1rem;
		width: 1rem;
		border: .0625rem solid $primary;
		&:after {
			background-image: url(check-white.svg);
			border: none;
			transform: none;
			height: .625rem;
			width: .625rem;
			background-repeat: no-repeat;
			background-size: cover;
			top: calc(50% - .3125rem);
			left: calc(50% - .3125rem);
		}
	}
	input {
		&:checked {
			~ {
				.checkmark {
					background-color: $white;
					border-color: $secondary_dark;
				}
			}
		}
	}
}
.checkbox_wrapper.black {
	.checkmark {
		width: 1.5rem;
		height: 1.5rem;
		&:after {
			background-image: url(check-black.svg);
			border: none;
			transform: none;
			height: 1rem;
			width: 1rem;
			background-repeat: no-repeat;
			background-size: cover;
			top: calc(50% - .5rem);
			left: calc(50% - .5rem);
		}
	}
	input {
		&:checked {
			~ {
				.checkmark {
					background-color: $primary;
					border-color: $primary;
				}
			}
		}
	}
}
.flex_100 {
	flex: 0 0 100%;
}
.product_text_footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex: 1 1 auto;
}
.city_input_wrapper {
	position: relative;
	.loading {
		position: absolute;
		right: .625rem;
		top: 50%;
		transform: translateY(-50%);
	}
	.city_suggestion_list {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		max-height: 15.625rem;
		overflow: auto;
		background-color: $white;
		z-index: 10;
		border-bottom: .125rem solid rgba(17, 17, 17, 0.2);
		border-left: .125rem solid rgba(17, 17, 17, 0.2);
		border-right: .125rem solid rgba(17, 17, 17, 0.2);
		.city_suggestion {
			padding: .375rem .9375rem;
			cursor: pointer;
			&:hover {
				background-color: $secondary_light;
			}
		}
	}
}
.delivery {
	.loading {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.delivery__list {
		display: flex;
		flex-direction: column;
		row-gap: .3125rem;
	}
	.delivery__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: .3125rem;
		padding: .3125rem .625rem;
		cursor: pointer;
		&:hover {
			background-color: $secondary_light;
		}
		.info__company {
			min-width: 16.25rem;
			text-transform: uppercase;
		}
		.info__details {
			display: flex;
			flex-direction: column;
			row-gap: .3125rem;
			flex-basis: 100%;
		}
		.info__title {
			font-weight: bold;
		}
		.info__price {
			min-width: 7.5rem;
			font-weight: bold;
			white-space: nowrap;
		}
	}
}
.slider_buttons {
	position: relative;
}
.section-products-carousel {
	margin-top: 5.1875rem;

	.products_header {
		.section_title {
			font-size: 1.75rem;
			text-transform: uppercase;
			font-weight: 400;

			@media (max-width: 999px) {
				font-size: 1.25rem;
			}
		}

		@media (max-width: 999px) {
			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}

		}
	}
}
.section-sim-products-carousel {
	.products_header {
		@media (max-width: 999px) {
			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}

		}
	}
}
.toasts {
	position: fixed;
	top: 5px;
	right: 0;
	padding: 0 1.25rem 0 0;
	width: 20rem;
	display: flex;
	flex-direction: column;
	row-gap: .3125rem;
	z-index: 100;

	@media (max-width: 567px) {
		top: 90px;
	}

	.alert {
		padding: .9375rem;
		transition: opacity 0.3s ease;
		opacity: 0;
		font-size: 1.1875rem;
		margin-bottom: 1.25rem;

		&-showing {
			opacity: 1;
		}

		&-show {
			opacity: 1;
		}

		&-hiding {
			opacity: 0;
		}

		&-info {
			background-color: $primary;
			color: $white;
		}

		&-error {
			background-color: $danger;
			color: $white;
		}

		&-success {
			background-color: $success;
			color: $white;
		}
	}
}
.payment-variants {
	margin-top: .9375rem;
	display: flex;
	flex-direction: column;
	row-gap: .625rem;

	&__item {

		label {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			column-gap: .3125rem;
			cursor: pointer;
			font-size: 1.1875rem;
		}

		input[type="radio"] {
			width: 0;
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}

		.check {
			position: relative;
			width: 1.5625rem;
			height: 1.5625rem;
			border: $border-color_4 solid .0625rem;
			transition: all .3s ease;
		}

		input[type="radio"]:checked + .check {
			background: $primary;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='#f7f7f7'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m4.5 12.75 6 6 9-13.5' /%3E%3C/svg%3E%0A");
		}
	}
}

@media (max-width: 1309px) {
	.discount-title {
		display: none;
	}
	.main.order {
		padding-bottom: 1.5rem;
	}
	.main.card {
		padding-bottom: 1.5rem;
	}
	.product_view_swiper_th {
		display: none;
	}
	.select_ordinary {
		padding: 1.375rem .875rem;
	}
	.ds {
		display: none;
	}
	.mb {
		display: block;
	}
	.news_fresh_clothes {
		flex-wrap: wrap;
		.aksesuari_item {
			flex: 0 0 33%;
			display: flex;
			.text {
				height: auto;
			}
			&:nth-child(2) {
				.img {
					rotate: 12deg;
				}
			}
			.img {
				position: absolute;
				bottom: 0;
				right: -6.25rem;
			}
			.shoes {
				right: -8.75rem;
				img {
					width: 80%;
				}
			}
		}
		.aksesuari_item.ds {
			display: none;
		}
	}
	main {
		padding-top: 2.25rem;
		padding-bottom: 9.125rem;
	}
	.main {
		.section-news {
			.news_inner {
				.r_side {
					display: none;
				}
				.c_side {
					flex-direction: row;
					flex-wrap: wrap;
				}
				.cloth_item {
					flex: 1 1 auto;
					padding-top: 0;
				}
				.cloth_item.mobile_yes {
					display: none;
				}
				.l_side {
					.news_img {
						left: -2.5rem;
					}
				}
			}
		}
		.section-news.news-2 {
			.news_inner {
				.l_side {
					display: block;
					.text {
						padding-top: 2.5rem;
					}
				}
			}
		}
	}
	.wrapper {
		overflow: hidden;
	}
	.mb_header_buttons {
		display: flex;
		gap: 1.625rem;
		flex: 0 0 6.875rem;

		img {
			width: 100%;
			height: 100%;
		}

		.btn_toggler {
			display: flex;
			align-items: center;
		}
	}
	.section-categories-carousel {
		.swiper-button-next {
			display: none;
		}
		.swiper-button-prev {
			display: none;
		}
		.section-categories-carousel__inner {
			.categories-slide {
				flex: 0 0 calc(100% / 4 - .875rem);
			}
		}
	}
	.cloth_item {
		.img {
			right: -2.5rem;
		}
	}
	.news-2 {
		.cloth_item {
			.img {
				right: -5rem;
			}
		}
	}
	#va_search-suggestions {
		@media (max-width: 1309px) {
			max-height: calc(100dvh - 4.0625rem - 3.0625rem - 4.6875rem);
			overflow-y: auto;
		}

		@media (max-width: 567px) {
			position: fixed !important;
			max-height: calc(100dvh - 4.0625rem - 4.6875rem);
			overflow-y: auto;
		}
	}
	
	.content_list_item {
		flex: 0 0 calc(25% - 1.4063rem);
	}
	.mail_info {
		display: none;
	}
	.content_mail {
		.aksiya_link {
			margin-bottom: 0;
		}
	}
	.news_discount.l_side {
		display: none;
	}
	
}
@media (max-width: 999px) {
	// .section-product-view {
	// 	.product_inner {
	// 		.product_info {
	// 			flex-direction: column;
	// 			gap: 2.25rem;
	// 			>div {
	// 				max-width: 100%;
	// 				width: 100%;
	// 			}
	// 		}
	// 		.carousel {
	// 			max-width: 100%;
	// 		}
	// 		.product_view_swiper {
	// 			max-width: 100%;
	// 		}
	// 	}
	// }
	.news_fresh_clothes {
		.aksesuari_item {
			flex: 0 0 calc(50% - .75rem);
			.img {
				right: -10.9375rem;
			}
		}
		.aksesuari_item.ds {
			display: block;
		}
	}
	.main {
		.section-news.news-2 {
			.news_inner {
				.l_side {
					display: none;
				}
				.c_side {
					>div {
						&:last-child {
							display: none;
						}
					}
				}
			}
			.cloth_item {
				&:first-of-type {
					flex-wrap: wrap;
					flex: 0 0 100%;
					justify-content: space-between;
					gap: 1.5rem;
				}
			}
		}
	}
	.section-news.news-2 {
		.aksesuari_item {
			.img {
				position: absolute;
			}
		}
	}
	.mobile_yes {
		display: block;
	}
	.section-not-found {
		.not_title {
			font-size: 1.5rem;
		}
		.not_subitle {
			font-size: 1rem;
			text-align: center;
		}
		.not_number {
			font-size: 8.125rem;
		}
	}
	.product_slide_card {
		.product_card_img {
			.labels {
				font-size: .75rem;
				padding-left: .4375rem;
				gap: .4375rem;
			}
			.labe_premium {
				padding: .4375rem;
			}
			.labe_discount {
				padding: .4375rem;
			}
		}
	}
	.section_header {
		flex-wrap: wrap;
		gap: 1.625rem;
	}
	.catalog_buttons {
		flex: 0 0 100%;
		justify-content: space-between;
	}
	.section-categories-carousel {
		.section-categories-carousel__inner {
			.categories-slide {
				flex: 0 0 calc(100% / 3 - .875rem);
			}
		}
	}
}
@media (max-width: 567px) {
	.section-order-info {
		.card_name {
			font-size: 1.625rem;
			margin-bottom: .875rem;
		}
		.info_card {
			padding: 1.5rem .875rem;
		}
		.card_link {
			font-size: 1rem;
		}
	}
	.main {
		>section.section-products-carousel {
			margin-bottom: 4.0625rem;
		}
		.section-news {
			.news_inner {
				.c_side {
					>div {
						&:not(:first-of-type) {
							display: none;
						}
					}
				}
				.cloth_item.mobile_yes {
					display: block;
				}
				.cloth_item.mobile_none {
					display: none;
				}
			}
		}
	}
	.filter_block {
		width: 100%;
		padding-bottom: 1.5rem;
	}
	.filter_header {
		margin: 0;
		border: none;
	}
	.filter_bottom {
		padding: 2.25rem .875rem;
	}
	.flex_wrapper {
		.item {
			font-size: .875rem;
		}
	}
	.review_header {
		flex-direction: column;
	}
	.review_header_slider_wr {
		width: 100%;
		.swiper-button-next {
			display: none;
		}
		.swiper-button-prev {
			display: none;
		}
	}
	.review_rating {
		flex-direction: row;
		justify-content: center;
		>div {
			&::after {
				background: rgba(255, 255, 255, 0.4);
				content: "";
				position: absolute;
				left: -0.5625rem;
				height: 3rem;
				width: .0625rem;
				top: -0.3125rem;
			}
		}
	}
	.rating_text {
		color: $white;
		display: block;
		padding-left: 0;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		border-bottom: .0625rem solid #fff;
		padding-bottom: .1875rem;
	}
	// .section-product-view {
	// 	.same_link_name {
	// 		font-size: .9375rem;
	// 		font-size: .875rem;
	// 	}
	// 	.accordion_content.active {
	// 		margin-top: 2rem;
	// 		padding-bottom: 1.5rem;
	// 	}
	// 	.item_label {
	// 		color: $secondary;
	// 		font-size: 1rem;
	// 		font-style: normal;
	// 		font-weight: 400;
	// 		line-height: 100%;
	// 	}
		
	// 	.accordion_link.comment_info {
	// 		padding: 0;
	// 	}
	// 	.pagination {
	// 		display: none;
	// 	}
	// 	.list_item {
	// 		display: flex;
	// 		justify-content: space-between;
	// 		column-gap: .75rem;
	// 		margin-bottom: 1.5rem;
	// 		border-bottom: .0625rem solid $secondary;
	// 		padding-bottom: .75rem;
	// 	}
	// 	.swiper-pagination-bullet {
	// 		width: 2.5rem;
	// 	}
	// 	.product_info_char {
	// 		button {
	// 			font-size: 1rem;
	// 			padding: 1.375rem;
	// 			margin-bottom: 1.5rem;
	// 		}
	// 	}
	// 	.deleviry_info {
	// 		padding-right: 0;
	// 	}
	// 	.same_links {
	// 		flex-direction: column;
	// 	}
	// }
	.product_slide_card {
		max-width: 10.625rem;
		.product_card_img {
			img {
				width: 100%;
			}
			.labels {
				font-size: .75rem;
				padding-left: .4375rem;
			}
			.labe_discount {
				padding: .4375rem;
			}
			.labe_premium {
				padding: .4375rem;
			}
		}
		.product_card_name {
			font-size: .875rem;
		}
		.product_card_prices {
			.product_card_price {
				font-size: 1rem;
			}
			.product_card_old_price {
				font-size: .75rem;
			}
		}
		.product_card_actions {
			.link_more {
				padding: .5rem 0;
				font-size: 1rem;
			}
		}
	}
	.product_tab {
		display: none;
	}
	.comment_item {
		padding-bottom: .6875rem;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	
	.select_ordinary {
		font-size: .875rem;
	}
	.mb_header_buttons {
		flex: 0 0 auto;
	}
	.section-categories-carousel {
		.categories-slide {
			flex: 0 0 calc(33% - .4375rem);
			border: none;
			visibility: visible;
			overflow: visible;
			opacity: 1;
			transition: 0.4s all ease;
			margin-right: 0 !important;

			.categories_slide_label {
				font-size: .75rem;
			}
			img {
				width: 100%;
			}
		}
		.categories-slide.mb_hide {
			overflow: hidden;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
		}
		.categories-slide.mb_hide.active {
			visibility: visible;
			overflow: visible;
			opacity: 1;
		}
	}
	.cloth_item {
		.img {
			right: -3.125rem;
			width: 20.9375rem;
			height: 13.4375rem;
			bottom: -1.875rem;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.categories_swiper {
		.swiper-wrapper {
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	.section-banner {
		.banner_inner {
			.banner_brend {
				font-size: 1.125rem;
				span {
					font-size: .625rem;
				}
			}
			.banner_info {
				font-size: .875rem;
			}
			gap: 2.5rem;
		}
	}
	.popular_inner {
		position: unset;
		.section_header {
			position: unset;
			.all_link {
				position: absolute;
				bottom: -3.125rem;
				width: 100%;
				z-index: 2;
				padding-bottom: .4375rem;
			}
		}
	}
	.section_title {
		font-size: 1.625rem;
	}
	.news_fresh_clothes {
		.aksesuari_item.ds {
			display: none;
		}
	}
	.mobile_none {
		display: none;
	}
	.mobile_yes {
		display: block;
	}
	.section-relevant-carousel {
		.relevant_slide_inner {
			.relevant_name {
				font-size: 1.125rem;
			}
			.img {
				margin-bottom: .875rem;
			}
			.relevant_subtitle {
				font-size: .875rem;
			}
			padding-bottom: 1.125rem;
			border: none;
		}
	}
	.section-banner-app {
		.bg-img {
			left: 0;
		}
		.apps_block {
			.apps {
				a {
					flex: 0 0 calc(50% - .75rem);
					img {
						width: 100%;
					}
				}
				flex-wrap: wrap;
				justify-content: flex-start;
			}
			padding: 1.25rem .9375rem;
		}
		&::after {
			content: none;
		}
	}
	.content_list_item {
		flex: 0 0 100%;
		text-align: center;
	}
	.mail_title {
		font-size: .875rem;
	}
	.ordinary_input {
		font-size: 1rem;
	}
	.button_black {
		padding: .75rem 2.25rem;
		font-size: 1rem;
	}
	.section-not-found {
		.not_title {
			font-size: 1.125rem;
		}
		.not_subitle {
			font-size: .875rem;
			text-align: center;
		}
		.not_number {
			font-size: 5.625rem;
		}
	}
	.checkbox_wrapper.black {
		.checkmark {
			width: 1.125rem;
			height: 1.125rem;
		}
	}
	
	.product_text_footer {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		gap: 1.5rem;
	}
	.product_text_body {
		margin-bottom: 6.25rem;

		@media (max-width: 25rem) {
			margin-bottom: 3.125rem;
		}
	}
}
