<!DOCTYPE html>
<html>
  <head>
    {% include "head" %}
  </head>
  <body>
    <div class="wrapper">

      {% include "header" %}

      <main class="main">
        
      {% unless template contains 'index' or page.url contains 'page/muzh' or page.url contains 'page/zhen' %}	
        {% include "breadcrumbs" %}
      {% endunless %}  
      
      {{ content_for_layout }}

      </main>

      {% include "footer" %}

      {% include "filters_block" %}

    </div>

    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script src="{{ 'nice-select2.js' | asset_url }}"></script>

    <!-- главый js -->
    <script src="{{ 'main.js' | asset_url }}"></script>

    {% include "microdata" %}

  </body>
</html>
