<style>
	h1 {
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 24px;
	}
	h2 {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 24px;
	}
	h3 {
		margin: 12px 0;
	}
	.list {
		padding-left: 25px;
	}
	.list li {
		padding: 6px 0;
		list-style-type: disc;
	}
</style>

<div class="container">
	<h1>Как это работает</h1>

	<h2>О сайте:</h2>
	
	<p>Limmite (сайт https://limmite.ru , далее - сайт) - мультибрендовый агрегатор (маркетплейс) оригинальных брендовых товаров (предметов одежды), ввозимых в Российскую Федерацию для продажи как официальными дистрибьюторами, так и поставщиками, действующими в соответствии с Приказом Минпромторга России от 21 июля 2023 г. № 2701 (то есть в рамках параллельного импорта).</p>
	
	<p>Сайт принадлежит и администрируется ООО “ТРАСТ”, которое обладает исключительными правами на сайт и иную интеллектуальную собственность. Размещение сведений осуществляется  на основании данных, представленных продавцами товаров.</p>
	
	<h3>О ПОРЯДКЕ ЗАКАЗА ТОВАРОВ, ДОСТАВКИ, ХРАНЕНИЯ, ВОЗВРАТА, ОБРАБОТКЕ ПЛАТЕЖЕЙ</h3>
	
	<p>Для обеспечения деятельности продавцами используются услуги авторизованных Limmite процессинговых компаний, которые ведут фулфилмент продавцов.</p>
	
	<p>В функционал фулфилмента входят:</p>
	
	<ul class="list">
		<li>складское хранение товаров</li>
		<li>приём и обработка заказов</li>
		<li>комплектация и упаковка заказов</li>
		<li>получение оплаты от покупателей</li>
		<li>доставка заказов</li>
		<li>работа с возвратами</li>
	</ul>
	
	<p>В перечень услуг фулфилмента процессинговых компаний также входит выполнение комиссионного поручения по дистанционной продаже указанных товаров на площадке сайта  , и офлайн - по образцам товара, предложенным продавцом и выставленным в месте продажи товаров (продажа товара по образцам).</p>
	
	<p>Более подробную информацию можно получить, ознакомившись с юридической информацией в подвале сайта.</p>
	
	<strong>Простыми словами:</strong>
	
	<p>Сайт ООО “Траст” limmite.ru - классифайд, доска объявлений продавцов товаров, размещение которых соответствует условиям Limmite
	Продавцы - юридические лица и индивидуальные предприниматели, предлагающие к продаже свои товары при помощи сайта и процессинговой компании
	Процессинговые компании - авторизованные нами сервисные компании, которые помогают продавцам в хранении товаров, а также - принимать оплату за товар, доставлять его покупателям и обратно, и выставлять в шоу-румах оффлайн.</p>
	
	<strong>Еще проще:</strong>
	
	<p>Продавцы размещают товары на нашем сайте, Вы выбираете понравившиеся вещи, и заказываете их. Процессинговая компания принимает оплату и доставляет вам товар, а продавцу перечисляет деньги.</p>
	
	<h3>ПРАВОВЫЕ ОСНОВЫ</h3>
	
	<p>Деятельность осуществляется в соответствии со статьей 497 ГК РФ (Продажа товара по образцам и дистанционный способ продажи товара) и пунктами 32-34 Постановление Правительства РФ от 31 декабря 2020 г. N 2463 “Об утверждении Правил продажи товаров по договору розничной купли-продажи, перечня товаров длительного пользования, на которые не распространяется требование потребителя о безвозмездном предоставлении ему товара, обладающего этими же основными потребительскими свойствами, на период ремонта или замены такого товара, и перечня непродовольственных товаров надлежащего качества, не подлежащих обмену, а также о внесении изменений в некоторые акты Правительства Российской Федерации” (Правила продажи непродовольственных товаров, принятых на комиссию).</p>
	
	<h3>БЕЗОПАСНОСТЬ И ЗАКОННОСТЬ ТОВАРОВ</h3>
	
	<p>Образцы товаров проходят правовой контроль на основании представляемых документов в целях исключения контрафакта (реализация контрафактных товаров, нарушающих требования законодательства и права третьих лиц (включая правообладателей), запрещена в соответствии с “Перечнем товаров, разрешенных и запрещенных к поставке на фулфилмент и размещению на сайте limmite.ru”).</p>
	
	<p>Согласно оферте и соглашению с продавцами, к размещению предложений о продаже товаров допускаются исключительно продавцы, предоставившие соответствующие заверения о наличии у них документов, подтверждающих легальность происхождения товара и введения его в оборот на территории Российской Федерации, и принявшие на себя в соответствии с законом и договором предоставлять всю подтверждающую документацию правоустанавливающую (договоры поставок, договоры с дистрибьюторами, таможенные декларации, товарные накладные, сертификаты и т.д).</p>
	
	<h3>ОТВЕТСТВЕННОСТЬ LIMMITE</h3>
	
	<p>Limmite в соответствии с действующим законодательством и стандартизированными практиками добросовестного поведения на товарном рынке несет ответственность как агрегатор информации о товарах, предусмотренную статьей 12 Закона о защите прав потребителей, частью 3 статьи 1253.1 ГК РФ а также добровольно принял на себя выполнение повышенных требований отрасли электронной торговли согласно условиям саморегулирования, предусмотренным “Стандартами взаимодействия маркетплейсов с продавцами товаров” (Утверждены Комиссией по созданию условий саморегулирования в электронной торговле в Российской Федерации при Минпромторге России, Протокол № 15-641 от 22 декабря 2022 года).</p>
	
	<h3>СБОР, ХРАНЕНИЕ, ОБРАБОТКА И ПЕРЕДАЧА ПЕРСОНАЛЬНЫХ И БАНКОВСКИХ ДАННЫХ</h3>
	
	<p>Работа с персональными данными осуществляется в соответствии с “Политикой конфиденциальности”.Осуществление заказов на сайте означает безусловное согласие с политикой. </p>
	
	<p>Limmite не собирает и не хранит платежные банковские данные, вводимые покупателями для оплаты сведения банковских карт обрабатываются в зашифрованном виде платежной системой в соответствии с законодательством “О НПС”.</p>
	
	<h3>ПЕРЕЧЕНЬ АККРЕДИТОВАННЫХ ПРОЦЕССИНГОВЫХ КОМПАНИЙ</h3>
	
	<ol>
		<li>ООО “Траст Сервис” ИНН 7203567990</li>
	</ol>
	
	
</div>


