<section class="section-not-found">
  <div class="container">
    <div class="not_inner">
      <div class="not_number">404</div>
      <div class="not_title">Страница не найдена</div>
      <div class="not_subitle">
        {{ messages.page_404 }}
      </div>
      <a href="#" class="not_link">Вернуться назад</a>
    </div>
  </div>
</section>