<section class="section-catalog">
  <div class="container">
    <div class="section_header">
      <div class="section_title">
        {{page.title}}
      </div>
    </div>

    <div class="section_content">
      {{page.content}}
    </div>
    
  </div>
</section>